@model IEnumerable<Borrow>

@{
    ViewData["Title"] = "Index";
}

<style>
    td.right-align {
        text-align: right;
    }
</style>

<h1 class="page-title">Library Management</h1>
<p class="page-subtitle">Manage your organization Library</p>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDays)
            </td>
            <td class="right-align">
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
